.navBackgroundTransparent {
	background-color: transparent;
	padding: 8px;
}

.navBackgroundColor {
	background-color: #c27753;
	/* #0e404b; */
	padding: 8px;
}

.navbar-brand {
	margin-left: 10px;
}

.show,
.collapsing {
	background-color: #c27753;
}

.navbar, .navbar .nav-link {
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700; /* explicit numeric weight for consistent rendering */
}
