.values {
  background-image: linear-gradient(
      rgba(249, 252, 245, 0.5),
      rgb(249, 252, 245, 0.5)
    ),
    url("../../assets/images/background2.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 56px;
  padding: 56px 0;
  z-index: 1;
}
